<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>authenticate</filter-name>
		<filter-class>com.savvis.it.filter.WindowsAuthenticationFilter</filter-class>
		<init-param>
			<param-name>bss.windows.http.authFailurePage</param-name>
			<param-value>/winLogin</param-value>
		</init-param>
	</filter>
	<filter-mapping>
  		<filter-name>authenticate</filter-name> 
  		<url-pattern>/RatingReportIndexServlet</url-pattern> 
  	</filter-mapping>

	<!-- need to have this in here to handle the generic windows login -->
	<servlet>
		<servlet-name>WinLogin</servlet-name>
		<servlet-class>
			com.savvis.it.servlet.WindowsLoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WinLogin</servlet-name>
		<url-pattern>/winLogin</url-pattern>
	</servlet-mapping>
	<!--  -->

	<servlet>
		<description>External Rating Report Index Servlet</description>
		<display-name>External Rating Report Index Servlet</display-name>
		<servlet-name>RatingReportIndexServlet</servlet-name>
		<servlet-class>com.savvis.it.vantive.er.servlet.RatingReportIndexServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RatingReportIndexServlet</servlet-name>
		<url-pattern>/RatingReportIndexServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>RatingReportIndexServlet</welcome-file>
	</welcome-file-list>
  
  	<servlet>
	  <servlet-name>dwr-invoker</servlet-name>
	  <display-name>DWR Servlet</display-name>
	  <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
	  <init-param>
	     <param-name>debug</param-name>
	     <param-value>true</param-value>
	  </init-param>
	</servlet>
	<servlet-mapping>
	  <servlet-name>dwr-invoker</servlet-name>
	  <url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>	

  
</web-app>
